---
interface Props {
  title: string;
  description?: string;
  path?: string;
}

// FIXME: Move to env var
const HOST = `https://wondering-trout.netlify.app`;

// FIXME
const image = `${HOST}/images/logo/logo.png`;

const {
  title,
  description = "사색송어는 안희종의 개인 홈페이지입니다.",
  path,
} = Astro.props;

const pageUrl = `${HOST}${path}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta property="og:locale" content="ko_kR" />
    <meta property="og:title" content={title} />
    <meta property="og:site_property" content="사색송어 Wondering Trout" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:image:type" content="image png" />
    <meta property="og:image:width" content="256" />
    <meta property="og:image:height" content="264" />
    <meta property="og:url" content={pageUrl} />
    <meta name="twitter:title" content={title} />

    <meta name="twitter:description" content={description} />
    <meta name="twitter:creator" content="ahn heejong" />
    <meta name="twitter:site" content="@heejongahn" />
    <meta name="twitter:url" content={pageUrl} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content={image} />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
